// .cartTab {
//     width: 400px;
//     background-color: #353432;
//     color: #eee;
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     inset: 0 -400px 0 auto;
//     display: grid;
//     grid-template-rows: 70px 1fr 70px;
//     transition: transform 0.5s ease, inset 0.5s ease;

//     h2 {
//         padding: 20px;
//         margin: 0;
//         font-weight: 300;
//     }

//     .btn {
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);

//         button {
//             background-color: yellow;
//             border: none;
//             font-weight: 500;
//             cursor: pointer;
//         }

//         .closeCart {
//             background-color: #eee;
//         }
//     }

//     .listCart {
//         overflow: auto;

//         ::-webkit-scrollbar {
//             width: 0;
//         }

//         .item {
//             display: grid;
//             grid-template-columns: 70px 150px 50px 1fr;
//             gap: 10px;
//             text-align: center;
//             align-items: center;

//             .quantity {
//                 span {
//                     display: inline-block;
//                     width: 25px;
//                     height: 25px;
//                     background-color: #eee;
//                     color: #555;
//                     border-radius: 50%;
//                     cursor: pointer;
//                 }

//                 span:nth-child(2) {
//                     background-color: transparent;
//                     color: #eee;
//                 }
//             }

//             img {
//                 width: 100%;
//             }
//         }

//         .item:nth-child(even) {
//             background-color: #eee1;
//         }
//     }

//     .cart-total {
//         margin-top: 20px;
//         padding: 10px;
//         font-size: 1.2rem;
//         font-weight: bold;
//         display: flex;
//         justify-content: space-between;
//         background-color: #f9f9f9;
//         border-radius: 5px;
//     }

//     .cart-total .total span {
//         color: #333;
//     }

// }


// body.showCart .cartTab {
//     inset: 0 0 0 auto;
//     transform: translateX(0);

// }


// @media screen and (max-width: 768px) {
//     .cartTab {
//         width: 100%;
//         inset: 0 -100% 0 0;
//     }

//     body.showCart .cartTab {
//         inset: 0 0 0 auto;
//         transform: translateX(100%);
//     }
// }


// @media screen and (min-width: 769px) {
//     .cartTab {
//         width: 100%;
//         inset: 0 -100% 0 auto;

//     }

//     body.showCart .cartTab {
//         inset: 0 0 0 auto;
//         transform: translateX(0);
//     }
// }
.cartTab {
    width: 100%;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease;

    display: grid;
    grid-template-rows: 70px 1fr 70px;

    h2 {
        padding: 20px;
        margin: 0;
        font-weight: 300;
    }

    .btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        button {
            background-color: yellow;
            border: none;
            font-weight: 500;
            cursor: pointer;
        }

        .closeCart {
            background-color: #eee;
        }
    }

    .listCart {
        overflow: auto;

        ::-webkit-scrollbar {
            width: 0;
        }

        .item {
            display: grid;
            grid-template-columns: 70px 150px 50px 1fr;
            gap: 10px;
            text-align: center;
            align-items: center;

            .quantity {
                span {
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    background-color: #eee;
                    color: #555;
                    border-radius: 50%;
                    cursor: pointer;
                }

                span:nth-child(2) {
                    background-color: transparent;
                    color: #eee;
                }
            }

            img {
                width: 100%;
            }
        }

        .item:nth-child(even) {
            background-color: #eee1;
        }
    }

    .cart-total {
        margin-top: 20px;
        padding: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        background-color: #f9f9f9;
        border-radius: 5px;
    }

    .cart-total .total span {
        color: #333;
    }
}

body.showCart .cartTab {
    transform: translateX(0);
}

@media screen and (min-width: 600px) {
    .cartTab {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .cartTab {
        width: 400px;
    }
}
